{% extends 'layout.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
<div class="d-flex mb-4">
  <h2>Liste des livres</h2>
</div>
<div class="d-flex mb-4 justify-content-between">
  <div class="d-flex align-items-center">
    <a href="{{path('book_new')}}" class="btn btn-primary">
      <span class="d-none d-md-block">Ajouter un livre</span>
      <span class="d-block d-md-none"><i class="fas fa-arrow-left"></i></span>
    </a>
  </div>

  <div class="form-group  ">
    {{ form_start(form) }}
        {{ form_row(form) }}
    {{ form_end(form) }}
  </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr class="d-flex">
          <th class="col-3">Catégorie</th>
          <th class="col-3">Titre</th>
          <th class="col-2">Auteur</th>
          <th class="col-2 text-center">Editer</th>
          <th class="col-2 text-center">Emprunter</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr class="d-flex">
            <td class="col-3 p-0"><a class="d-block text-decoration-none p-3" href="{{ path('book_show', {'id': book.id}) }}">{{ book.category }}</a></td>
            <td class="col-3 p-0"><a class="d-block text-decoration-none p-3" href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></td>
            <td class="col-2 p-0"><a class="d-block text-decoration-none p-3" href="{{ path('book_show', {'id': book.id}) }}">{{ book.author }}</a></td>
            <td class="col-2 text-center"><a href="{{ path('book_edit', {'id': book.id}) }}"><i class="fas fa-edit fa-2x"></i></a> </td>
            <td class="col-2 text-center">
              <!-- Button trigger modal -->
              {% if book.available %}
              {{ include('book/borrowForm.html.twig')}}
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#emprunter{{book.id}}">
                Emprunter
              </button>
              {% else %}
              <button type="button" class="btn btn-danger" >
                <a href="{{ path('book_return', {'id': book.id}) }}">Indisponible</a>
              </button>
              {% endif %}
            </td>

          </tr>
          {% else %}
              <tr>
                  <td colspan="5">La bibliothèque est vide.</td>
              </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
