{% extends 'layout.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>
    <div class="">
      <a href="{{ path('book_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Résumé</th>
                <th>Category</th>
                <th>Available</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('book_show', {'id': book.id}) }}"> {{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.summary }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.available ? '<button type="button"  class="btn btn-success">Dispo</button>' : '<button type="button" type="button"  class="btn btn-danger">Non dispo</button>>' }}</button></td>
                <td>
                  <button type="button" class="btn btn-primary"><a href="{{ path('book_edit', {'id': book.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
