{% extends 'layout.html.twig' %}


{% block title %}
<td>{{ book.id }} </td>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
  <h1>{{ book.title }}</h1>
  <div class="">
      <button type="text" class="btn btn-{{ book.available ? 'success' : 'danger' }}">Disponible?</button>
      <!-- Loué à <a href=" path('user')">book.user</a> -->
  </div>
</div>

    <table class="table">
        <tbody>
            <tr>
                <th>Auteur</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ book.editor }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.summary }}</td>
            </tr>
            <tr>
                <th>Date de parution</th>
                <td>{{ book.releaseDate ? book.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de pages</th>
                <td>{{ book.nbPage }}</td>
            </tr>
            <tr>
                <!-- <th>User</th> -->
                <!-- <td> book.user </td> -->
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ book.category }}</td>
            </tr>
        </tbody>
    </table>
    <!-- put the link to go back/ delete/ edite or make a nav? -->
    <!-- <div class="btn btn-primary">
      <a href=" path('book_index') }}">back to list</a>
    </div>
    <div class="btn btn-primary">
      <a href=" path('book_edit', {'id': book.id}) }}">edit</a>
    </div>
    <div class="btn btn-primary">
       include('book/_delete_form.html.twig') }}
    </div> -->
{% endblock %}
